/* index */
html,body{
    height:100vh;
}
body{
    background-color: rgb(0, 0, 0);
    background: url("imagenes/buenosaires.png")no-repeat;
    background-position-x: 50%;
    background-position-y: 20%;
    background-attachment: fixed;
    background-size: cover;
    
    
}

@media (min-width: 2000px) {
  body {
    
    height: 100%;
  }  

}
.nav{
    
    margin-bottom: 50px;
    
}

img {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    width: 50px;
    height: 50px;
    border-radius: 5rem;
}

p{

  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
  color: white;
  font-size: 20px;
  font-family: EuclidWU-Regular, Helvetica ;
  
  
}


h1{
   padding: 10px;
   margin-top: 5px;
   margin-left: 10px;
   color: white;
   
}
h2{
    font-family: EuclidWU-Regular, Helvetica ;
    
    padding-bottom: 20px;
    color: white;
    text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
}
/* div inicial */

#comenzar{
    position: fixed;
    top: 40%;
    left: 10%;
    
}

/* div general */

.boxGeneral{

    margin-bottom: 200px;
}
.encabezdo{
    text-align:center;
    margin-top: 20px;
    color: white;  
}

.row{
    box-shadow: 10px 10px 10px 10px black;
}

.btnFormulario{
    margin-top: 10px;
    padding-bottom: 10px;
}


.resultado{
    text-align: center;
    margin: 20px;
}
.col-md-4{
    margin-top: 40px;
}

.btnEnvia{
    
    margin-bottom: 20px;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0px; 
}

input[type=number] { -moz-appearance:textfield; }


/* estilo infoenvio */

.muestra{
    margin: 5%;
    box-shadow: 10px 10px 10px 10px black;
}
.muestraDolar{
    margin-top: 20px;
    margin-left: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
 
}
.tablaResult{
  text-align: center;
 
}
.tabla{
   
    justify-content: center;
    text-align: center;
   
}

